@use "../../../010-settings/" as *;
@use "../../../010-settings/legacy-settings/legacy-settings_panel" as *;
@use "../../../050-layout/basics/" as *;

//== Popover

$il-popover-max-width: 50vw;
$il-popover-max-height: 40vh;

$il-popover-background-color: $il-main-dark-bg;
$il-popover-text-color: $il-text-color;
$il-popover-border-color: $il-main-border-dark-color;

$il-popover-arrow-height: .5em;
$il-popover-arrow-background-color: $il-popover-border-color;

$il-popover-z-index: 9999;

.c-tooltip__container {
	position: relative;
	display: inline-block;
}

// Arrow
// attached to the bottom
.c-tooltip__container::before {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border: $il-popover-arrow-height solid transparent;
	border-bottom-color: $il-popover-arrow-background-color;
}

// Invisible bridge so users can move cursor from button to tooltip
.c-tooltip__container::after {
	position: absolute;
	right: -20%;
	top: 100%;
	left: -20%;
	display: block;
	height: calc($il-popover-arrow-height * 2);
}

// making bridge amd arrow visible
.c-tooltip__container.c-tooltip--visible::before,
.c-tooltip__container.c-tooltip--visible::after {
	content: '';
}

// switching bridge and arrow position when dropdown switched to top
.c-tooltip__container.c-tooltip--top::before,
.c-tooltip__container.c-tooltip--top::after,
.c-tooltip__container.c-tooltip--top [role="tooltip"] {
	top: unset;
	bottom: 100%;
}

// when arrow is attached to the top
.c-tooltip__container.c-tooltip--top::before {
	border-top-color: $il-popover-arrow-background-color;
	border-bottom-color: transparent;
}

// Styling Tooltip
.c-tooltip__container [role="tooltip"] {
	position: absolute;
	top: calc(100% + calc($il-popover-arrow-height * 2));
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: $il-padding-xlarge-vertical $il-padding-xlarge-horizontal;
	border: 2px solid $il-popover-border-color;
	border-radius: .25em;
	color: $il-popover-text-color;
	background: $il-popover-background-color;
	width: max-content;
	max-width: $il-popover-max-width;
	max-height: $il-popover-max-height;
	overflow: auto;
	z-index: $il-popover-z-index;
}

.c-tooltip__container.c-tooltip--top [role="tooltip"] {
	bottom: calc(100% + calc($il-popover-arrow-height * 2));
}

/* Hides the tooltip */
.c-tooltip--hidden {
	display: none;
}