@use "../../../010-settings/"as *;
@use "../../../030-tools/tool_focus-outline" as *;

.c-link{
	@include il-focus();
}


.c-link--bulky {
	text-decoration: none;

	.icon, // icon is another ui-component, therefor not &__icon
	.bulky-label { // bulky label is used by both bulky links and bulky buttons, therefor not &__label
		display: inline-block;
	}

	.icon {
		text-decoration: none;
	}

	.bulky-label{
		color: $il-text-color;
	}
}
