// global colors
$base-color-1: #c0069b !default; //1st color
$base-color-2: #df0226 !default; //2nd color (e.g. 2nd btn, mcs, etc.)
$base-color-3: #ec4016 !default; //highlight (e.g. close slate, links footer, mcs)
$base-color-4: #faae1d !default; //rarely used (e.g mcs)
$base-color-5: #4a154b !default; //rarely used

// global bg color setup
$global-bg-color: #ffffff;