@use "../010-settings/" as *;
@use "../030-tools/tool_focus-outline" as t-focus;

@use "sass:math";
//
// Typography
// --------------------------------------------------

// most colors and sizes are set on settings layer
$headings-small-color: $il-headings-color !default;

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
html, .root
{
  font-size: 16px;
  line-height: 21px;
}
body, .article
{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 21px;
  margin: auto;
}
h1, .h1
{
  font-size: 81px;
  line-height: 84px;
  margin-top: 84px;
  margin-bottom: 63px;
}
h2, .h2
{
  font-size: 54px;
  line-height: 63px;
  margin-top: 63px;
  margin-bottom: 42px;
}
h3, .h3
{
  font-size: 36px;
  line-height: 42px;
  margin-top: 42px;
  margin-bottom: 21px;
}
h4, .h4
{
  font-size: 24px;
  line-height: 42px;
  margin-top: 21px;
  margin-bottom: 0px;
}
h5, .h5
{
  font-size: 16px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 21px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 147px;
  margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr
{
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
